.sendForm {
    display: flex;
    justify-content: space-around;
    margin-top: 72px;
}

.textarea {
    display: inline-block;
    width: 976px;
    min-height: 40px;
    height: 100%;
    border-radius: 20px;
    background: #F5F7FB;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.10), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    resize: none;
    border: none;
    padding: 12px 24px;

    color: rgba(0, 0, 0, 0.60);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


.button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: #06C;
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.button:hover {
    background: #FFF;
    color: #06C;
    border: 3px solid #06C;
}

.button:active {

}
